.hamburguer {
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(238, 238, 238, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.hamburguer.show {
  visibility: visible;
  opacity: 1;
}

.open-close {
  position: absolute;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}

.hamburguer nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.mobile-link {
  text-decoration: none;
  font-size: 2rem;
}

.mobile-item span {
  padding-left: 50px;
  cursor: pointer;
}

.mobile-dropdown {
  padding-top: 20px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}

.mobile-dropdown.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.2s cubic-bezier(1, 0, 1, 0);
}

.mobile-dropdown p {
  cursor: pointer;
  margin-top: 10px;
}

.mobile-login a {
  font-size: 2rem;
  text-decoration: none;
}

.mobile-login span {
  padding-left: 40px;
  cursor: pointer;
}
