.conta-section {
  margin-top: 100px;
  background-color: var(--light-green);
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 2fr;
}

.conta-app img {
  width: 75%;
}

.conta-text h2 {
  font-size: 4rem;
  font-weight: 300;
  padding-bottom: 45px;
}

.conta-text h2 span {
  color: #fff;
  position: relative;
}

.conta-text h2 span::after {
  content: "";
  position: absolute;
  background-color: var(--blue);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.conta-text:hover.conta-text h2 span::after {
  width: 100%;
}

.conta-text p {
  font-size: 1.25rem;
  padding-bottom: 50px;
}

.benefit {
  background: #fff;
  padding: 30px 20px;
  margin: 0 4px 30px 0;
  border-radius: 12px;
  cursor: grab;
}

.benefit h3 {
  color: var(--blue);
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.benefit h3 svg {
  padding-left: 15px;
  color: #333;
}

.benefit p {
  font-size: 1rem;
  padding-bottom: 20px;
}

.vantagens {
  max-width: 600px;
}

.react-multi-carousel-dot button {
  border-color: transparent;
}

.react-multi-carousel-dot--active button {
  background: #333;
}

.react-multiple-carousel__arrow {
  background: transparent;
  transition: 0.5 ease;
  min-width: 0;
}

.react-multiple-carousel__arrow--left {
  bottom: -10px;
  left: 0;
}

.react-multiple-carousel__arrow--right {
  bottom: -10px;
  right: 0;
}

.react-multiple-carousel__arrow:hover {
  background: transparent;
  font-size: 35px;
}

.item {
  height: 220px;
}

@media (max-width: 990px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .conta-app {
    display: none;
  }
  .vantagens {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .conta-section h2 {
    font-size: 3rem;
  }
  .benefit {
    padding: 15px 10px;
  }
  .item {
    height: 270px;
  }
}

@media (max-width: 300px) {
  .conta-section h2 {
    font-size: 2.35rem;
  }
}
