.conta-section {
  margin-top: 100px;
  background-color: var(--light-green);
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 2fr;
}

.conta-app img {
  width: 75%;
}

.conta-text h2 {
  font-size: 4rem;
  font-weight: 300;
}

.conta-text h2 span {
  color: #fff;
  position: relative;
}

.conta-text h2 span::after {
  content: "";
  position: absolute;
  background-color: var(--blue);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.conta-text:hover.conta-text h2 span::after {
  width: 100%;
}

.conta-text p {
  font-size: 1.25rem;
}

.benefit {
  background: #fff;
  padding: 20px;
  margin: 0 4px 30px 0;
  border-radius: 12px;
}

.benefit h3 {
  color: var(--blue);
  font-size: 1.5rem;
}

.benefit h3 svg {
  padding-left: 15px;
  color: #333;
}

.benefit p {
  font-size: 1rem;
}

.vantagens {
  max-width: 600px;
}

.react-multi-carousel-dot button {
  border-color: transparent;
}

.react-multi-carousel-dot--active button {
  background: #333;
}

.react-multiple-carousel__arrow {
  background: transparent;
  transition: 0.5 ease;
  min-width: 0;
}

.react-multiple-carousel__arrow--left {
  bottom: -10px;
  left: 1;
}

.react-multiple-carousel__arrow--right {
  bottom: -10px;
  right: 1;
}

.react-multiple-carousel__arrow:hover {
  background: transparent;
  font-size: 35px;
}

.item {
  height: 220px;
}
